body{
  font-family: 'Open Sans', sans-serif;
    background-color: rgb(110, 117, 117);
    
}
.navbar-try{
    background-color: #503f6b;
    color: white;
    
}
.navbar-name{
  font-family: 'Caveat', cursive;
    
    text-decoration: none;
    font-size: 25px;
    color: white;
    
}
.navbar-name:hover{
 
    color:cadetblue;
    
}
.btn{
    color: white;
    background-color:rgb(77, 122, 122);
}


.navbar-logo{
 
    width: 86px;
    height: 46px;
    border-radius: 5%;
    overflow: hidden;
    
  
}
.card{
    background-color: rgb(229, 231, 236);
    border: 1px white;
    overflow: hidden;
    height: 300px;
    width: 160px;
}
.card-text{
    font-size: 10px;
}
.card-img-top{
  overflow: hidden;
  margin: auto;
    height: 400px;
    width: 100px;
}
.card-container{
  background-color: #E5E7EC;
  margin: auto;
  border-radius: 2%;
   

}
.circle{
    width:40px ;
    height: 40px;
    border-radius: 50%;
    display:inline-block;
   background-color: white;
    font-size: 30px;
    text-align:center;

}

  .slide-left {
    width: 100%;
    overflow: hidden;
    margin-left: 400px;
    max-width: 500px
  }
  
  .slide-left h2 {
    animation: 6s slide-left;
    animation-delay: 1s;
    font-size: 16px;
  }
  
  @keyframes slide-left {
    from {
      margin-right: -900px;
    }
  
    to {
      margin-right: 0%;
    }
  }

  .carousel-item{
height: 75vh;
min-height: 100px;
background: no-repeat scroll center scroll;
-webkit-background-size: cover;
background-size: cover;

  }
  .cimg{
    
    height: 65vh;
    margin: auto;
    
  }
  
  .cHeading{
    color:rgb(18, 21, 73);
    background-color: 
    
  }

   
